.container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.cellStyle {
    border: 1px solid black;
    flex-shrink: 0;
    box-sizing: border-box;
}

.colored {
    background-color: black;
}